{% extends 'base.html' %}
{% block title %}Vota{% endblock title %}


{% block body_content %}

Hello
<br>
U are authenticated as {{  user.full_name }}
<br>
Level: {{user.level}}

<br>
Grade Level: {{user.grade.level}}


{% if user.grade.level == 1 %}
<br>
U are of primary

{% elif  user.grade.level == 2 %}
<br>
U are from high school
{% endif %}

<br>

{% if user.has_voted %}

You already voted :)
{% else %}
You havent voted

{% endif %}

<br>
{{candidates}}

<br>
{% for candidate in candidates %}

    {% if candidate.image %}
    <img src="{{candidate.image.url}}" alt="Candidate image">
    {% endif %}
    <br>
    {{candidate.candidates_name}}
    <br>
    {{candidate.proposal}}



    <br>


    <div class="vote">
        <form action="{% url 'vote:voting' candidate.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" name="post_upvote" value="{{ candidate.pk }}" class="btn btn-danger btn-sm mt-4">Votame
            </button>
        </form>
    </div>
{% endfor %}
{% endblock body_content %}