{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block super_body_content %}


<div class="container">
    <div class="py-4">
        <div class="mx-auto text-center">
            <h1 class="fw-bold">Hola este es el dashboard para docentes y administrativos!</h1>
            <p class="text-muted">Si deseas puedes ver las votaciones de Primaria y Bachillerato</p>

        </div>
    </div>

    <div class="p-4">
        <div class="d-flex justify-content-center">
            <a href="{% url 'dashboard:elementary' %}" class="btn btn-primary w-100">Personeritos 1° - 5°</a>
        </div>
    </div>
    <div class="p-4">
        <div class="d-flex justify-content-center">
            <a href="{% url 'dashboard:high' %}" class="btn btn-success w-100">Personeros 6° - 11°</a>
        </div>
    </div>
</div>
{% endblock super_body_content %}